<!DOCTYPE html>
<html class="fluid top-full sticky-top  sidebar-full sticky-sidebar" style="height:100%;" ng-app="dienchan">
@{Html.RenderAction("PartialViewHeaderHtml", "Home");}

@using WebResources

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
